#### unit10: 리스트와 튜플 사용하기

In [2]:
a = 10
b = 20

In [3]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [4]:
person = ['james', 17, 175.9, True]
person

['james', 17, 175.9, True]

In [5]:
a = []
a

[]

In [6]:
b = list()
b

[]

In [7]:
range(10)

range(0, 10)

In [9]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
b = list(range(5,12))
b

[5, 6, 7, 8, 9, 10, 11]

In [11]:
c = list(range(-4,10,2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [12]:
d = list(range(10,0,-1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
a = (38,21,53,62,19)
a

(38, 21, 53, 62, 19)

In [14]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [15]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [18]:
(38) # 이러면 그냥 값

38

In [20]:
(38, ) # 이런식으로 , 을 넣어줘야 튜플이 됨
(38,)

(38,)

In [22]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
 b = tuple(range(5, 12))
 b

(5, 6, 7, 8, 9, 10, 11)

In [24]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [25]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [26]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

#### unit10.4 연습문제:range로 리스트 만들기


다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요. 리스트를 만들 때는 range를 사용해야 합니다.

range
 
print(a)


실행 결과

[5, 3, 1, -1, -3, -5, -7, -9]

In [30]:
a = list(range(5,-10,-2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

#### unit10.5심사문제: range로 튜플 만들기

표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

________________
________________
________________

예

입력
2

결과
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

입력
3

결과
(-10, -7, -4, -1, 2, 5, 8)

In [37]:
a = int(input())
tuple(range(-10,10,a))

(-10, -7, -4, -1, 2, 5, 8)