# Unit 22. 리스트와 튜플 응용하기

### 22.1 리스트 조작하기

### 22.1.1  리스트에 요소 추가하기

- append: 요소 하나를 추가
- extend: 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소 추가

### 22.1.2  리스트에 요소 하나 추가하기

In [4]:
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [6]:
len(a)

4

In [7]:
a = []
a.append(10)
a

[10]

In [8]:
a =[10, 20, 30]
a.append([500, 600])
a

[10, 20, 30, [500, 600]]

In [9]:
len(a)

4

### 22.1.4  리스트 확장하기

In [11]:
a = [10, 20,30]
a.extend([500,600])
a

[10, 20, 30, 500, 600]

In [12]:
len(a)

5

### 22.1.5  리스트의 특정 인덱스에 요소 추가하기

In [14]:
a = [10,20,30]
a.insert(2,500)
a

[10, 20, 500, 30]

In [15]:
len(a)

4

In [16]:
a= [10, 20, 30]
a.insert(0, 500)
a

[500, 10, 20, 30]

In [17]:
a = [10, 20,30]
a.insert(len(a), 500)
a

[10, 20, 30, 500]

In [19]:
a = [10, 20,30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

In [21]:
a = [10, 20,30]
a[1:1] = [500, 600]
a

[10, 500, 600, 20, 30]

### 22.1.6  리스트에서 요소 삭제하기

- pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
- remove: 특정 값을 찾아서 삭제

In [23]:
a = [10, 20, 30]
a.pop()

30

In [24]:
a

[10, 20]

In [25]:
a = [10, 20, 30]
del a[1]
a

[10, 30]

### 22.1.8  리스트에서 특정 값을 찾아서 삭제하기

In [27]:
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

In [28]:
a = [10, 20, 30, 20]
a.remove(20)
a

[10, 30, 20]

### 22.1.9  리스트에서 특정 값의 인덱스 구하기

In [1]:
a = [10, 20, 30, 15, 20, 40]
a.index(20)
a

[10, 20, 30, 15, 20, 40]

### 22.1.10                특정 값의 개수 구하기

In [4]:
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

### 22.1.11                리스트의 순서를 뒤집기

In [6]:
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

### 22.1.12                리스트의 요소를 정렬하기

In [8]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

### 22.1.13                리스트의 모든 요소를 삭제하기

In [10]:
a = [10, 20, 30]
a.clear()
a

[]

In [11]:
a = [10, 20, 30]
del a[:]
a

[]

### 22.1.14                리스트를 슬라이스로 조작하기

In [13]:
a = [10, 20, 30]
a[len(a) : ] = [500]
a

[10, 20, 30, 500]

### 22.1.14                리스트를 슬라이스로 조작하기

In [15]:
a = [10, 20, 30]
a[len(a):] =[500]
a

[10, 20, 30, 500]

In [16]:
a = [10, 20, 30]
a[len(a):] =[500, 600]
a

[10, 20, 30, 500, 600]

### 22.2 리스트의 할당과 복사 알아보기

In [18]:
a = [0,0,0,0,0]
b = a

In [19]:
a is b

True

In [20]:
b[2] = 99
a

[0, 0, 99, 0, 0]

In [21]:
b

[0, 0, 99, 0, 0]

In [22]:
a = [0,0,0,0,0]
b = a.copy()

In [23]:
a is b

False

In [24]:
a == b

True

In [25]:
b[2] = 99
a

[0, 0, 0, 0, 0]

In [26]:
b

[0, 0, 99, 0, 0]

### 22.3 반복문으로 리스트의 요소를 모두 출력하기

### 22.3.1  for 반복문으로 요소 출력하기

for 변수 in 리스트:
     반복할 코드

In [28]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

In [29]:
for i in [38, 21, 53, 62, 19]:
    print(i)

38
21
53
62
19

### 22.3.2  인덱스와 요소를 함께 출력하기

In [31]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [32]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

In [33]:
for index, value in enumerate(a, start=1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

### 22.3.3  while반복문으로 요소 출력하기

In [35]:
a = [38, 21, 53, 62, 19]
i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

### 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

### 22.4.1  가장 작은 수와 가장 큰 수 구하기

In [40]:
a = [38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i

smallest

19

In [41]:
a = [38, 21, 53, 62, 19]
largest = a[0]
for i in a:
    if i > largest:
        largest = i

largest

62

In [42]:
a = [38, 21, 53, 62, 19]
a.sort()
a[0]

19

In [43]:
a.sort(reverse=True)
a[0]

62

In [44]:
a = [38, 21, 53, 62, 19]
min(a)

19

In [45]:
max(a)

62

### 22.4.2  요소의 합계 구하기

In [48]:
a = [10, 10, 10, 10, 10]
x = 0
for i in a:
    x += i

x

50

In [49]:
a = [10, 10, 10, 10, 10]
sum(a)

50

### 22.5 리스트 표현식 사용하기

- [식 for 변수 in 리스트]
- list(식 for 변수 in 리스트)

In [52]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
b = list(i for  i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
c = [i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [57]:
d= [i * 2 for i in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 22.5.1  리스트 표현식에서 if 조건문 사용하기

In [59]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [61]:
b = [i + 5 for i in range(10) if i % 2 == 1]
b

[6, 8, 10, 12, 14]

### 22.5.2  for 반복문과 if 조건문을 여러 번 사용하기

[식 for 변수1 in 리스트1 if 조건식1     for 변수2 in 리스트2 if 조건식2     ...     for 변수n in 리스트n if 조건식n]
 
list(식 for 변수1 in 리스트1 if 조건식1         for 변수2 in 리스트2 if 조건식2         ...         for 변수n in 리스트n if 조건식n)

In [63]:
a = [ i * j for j in range(2, 10) for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

### 22.6 리스트에 map 사용하기

- list(map(함수, 리스트))
- tuple(map(함수, 튜플))

In [67]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

a

[1, 2, 3, 4]

In [68]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [69]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

### 22.6.1  input().split()과 map

In [72]:
a = input().split()
a

['10', '20']

In [73]:
a = map(int, input().split())
a

In [74]:
list(a)

[10, 20]

In [75]:
a, b = [10, 20]
a

10

In [76]:
b

20

### 22.7 튜플 응용하기

### 22.7.1  튜플에서 특정 값의 인덱스 구하기

In [78]:
a = (38, 21, 53, 62, 19, 53)
a.index(53)

2

### 22.7.2  특정 값의 개수 구하기

In [80]:
a = (10, 20, 30, 15, 20, 40)
a.count(20)

2

### 22.7.3  for 반복문으로 요소 출력하기

In [83]:
a = (38, 21, 53, 62, 19)
for i in a:
    print(i, end=' ')

38 21 53 62 19

### 22.7.4  튜플 표현식 사용하기

In [85]:
a = tuple(i for i in range(10) if i % 2 ==0)
a

(0, 2, 4, 6, 8)

### 22.7.5  tuple에 map 사용하기

In [87]:
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
a

(1, 2, 3, 4)

### 22.7.6  튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기

In [89]:
a = (38, 21, 53, 62, 19)
min(a)

19

In [90]:
max(a)

62

In [91]:
sum(a)

193

### 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기

다음 소스 코드를 완성하여 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요(리스트 표현식 사용).

a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

b = [                           ]
 
print(b)

실행결과
['alpha', 'bravo', 'delta', 'hotel', 'india']

In [98]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
 
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

### 22.10 심사문제: 2의 거듭제곱 리스트 생성하기


표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

________________
________________
________________
________________
________________

예

입력
1 10

결과

[2, 8, 16, 32, 64, 128, 256, 1024]

입력
10 20

결과

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [100]:
x, y = map(int, input().split())

a = [2 ** i for i in range(x,y + 1)]
del a[1]
del a[-2]

print(a)

[2, 8, 16, 32, 64, 128, 256, 1024]