# Unit 24. 문자열 응용하기

### 24.1.1  문자열 바꾸기

In [3]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [5]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')
s

'Hello, Python'

### 24.1.2  문자 바꾸기

In [7]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

### 24.1.3  문자열 분리하기

In [9]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [10]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

### 24.1.4  구분자 문자열과 문자열 리스트 연결하기

In [12]:
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [13]:
'-'.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple-pear-grape-pineapple-orange'

### 24.1.5  소문자를 대문자로 바꾸기

In [15]:
'python'.upper()

'PYTHON'

### 24.1.6  대문자를 소문자로 바꾸기

In [17]:
'PYTHON'.lower()

'python'

### 24.1.7  왼쪽 공백 삭제하기

In [19]:
'   Python   '.lstrip()

'Python   '

### 24.1.8  오른쪽 공백 삭제하기

In [21]:
'   Python   '.rstrip()

'   Python'

### 24.1.9  양쪽 공백 삭제하기

In [23]:
'   Python   '.strip()

'Python'

### 24.1.10 왼쪽의 특정 문자 삭제하기

In [25]:
', python.'.lstrip(',.')

' python.'

### 24.1.11 오른쪽의 특정 문자 삭제하기

In [27]:
', python.'.rstrip(',.')

', python'

### 24.1.12 양쪽의 특정 문자 삭제하기

In [28]:
', python.'.strip(',.')

' python'

### 24.1.13 문자열을 왼쪽 정렬하기

In [29]:
'python'.ljust(10)

'python    '

### 24.1.14 문자열을 오른쪽 정렬하기

In [31]:
'python'.rjust(10)

'    python'

### 24.1.15 문자열을 가운데 정렬하기

In [33]:
'python'.center(10)

'  python  '

In [34]:
'python'.center(11) # 길이가 6인 'python'을 11로 가운데 정렬하면 5가 남아서 왼쪽에 공백 3칸, 오른쪽에 공백 2칸 늘어남

'   python  '

### 24.1.16 메서드 체이닝

In [36]:
'python'.rjust(10).upper() #메서드를 줄줄이 연결한다고 해서 메서드 체이닝(method chaining)

'    PYTHON'

In [38]:
### 24.1.17 문자열 왼쪽에 0 채우기

In [39]:
'35'.zfill(4)  # 숫자 앞에 0을 채움

'0035'

In [40]:
'3.5'.zfill(6)  # 숫자 앞에 0을 채움

'0003.5'

In [41]:
'hello'.zfill(10) # 문자열 앞에 0을 채울 수도 있음

'00000hello'

### 24.1.18 문자열 위치 찾기

In [43]:
'apple pineapple'.find('pl')

2

In [44]:
'apple pineapple'.find('xy')

-1

### 24.1.19 오른쪽에서부터 문자열 위치 찾기

In [46]:
'apple pineapple'.rfind('pl')

12

In [47]:
'apple pineapple'.rfind('xy')

-1

### 24.1.20 문자열 위치 찾기

In [48]:
'apple pineapple'.index('pl')

2

### 24.1.21 오른쪽에서부터 문자열 위치 찾기

In [49]:
'apple pineapple'.rindex('pl')

12

### 24.1.22 문자열 개수 세기

In [52]:
'apple pineapple'.count('pl')

2

### 24.2.1  서식 지정자로 문자열 넣기

In [54]:
'I am %s.' % 'james'

'I am james.'

In [55]:
name = 'maria'
'I am %s.' % name

'I am maria.'

### 24.2.2  서식 지정자로 숫자 넣기

In [57]:
'I am %d years old.' % 20

'I am 20 years old.'

### 24.2.3  서식 지정자로 소수점 표현하기

In [59]:
'%f' % 2.3

'2.300000'

In [60]:
'%.2f' % 2.3

'2.30'

In [61]:
'%.3f' % 2.3

'2.300'

### 24.2.4  서식 지정자로 문자열 정렬하기

In [63]:
'%10s' % 'python'

'    python'

### 24.2.5  서식 지정자로 문자열 안에 값 여러 개 넣기

In [65]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [66]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

### 24.2.6  format 메서드 사용하기

In [68]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [69]:
'Hello, {0}'.format(100)

'Hello, 100'

### 24.2.7  format 메서드로 값을 여러 개 넣기

In [71]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

### 24.2.8  format 메서드로 같은 값을 여러 개 넣기

In [73]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

### 24.2.9  format 메서드에서 인덱스 생략하기

In [75]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

### 24.2.10 format 메서드에서 인덱스 대신 이름 지정하기

In [77]:
'Hello, {language} {version}'.format(language='Python', version=3.6)

'Hello, Python 3.6'

### 24.2.10 format 메서드에서 인덱스 대신 이름 지정하기

In [78]:
'Hello, {language} {version}'.format(language='Python', version=3.6)

'Hello, Python 3.6'

### 24.2.11 문자열 포매팅에 변수를 그대로 사용하기

In [79]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

### 24.2.12 format 메서드로 문자열 정렬하기

In [82]:
'{0:>10}'.format('python') # 인덱스를 사용하지 않는다면 :(콜론)과 정렬 방법만 지정해도 됨

'    python'

### 24.2.13 숫자 개수 맞추기

In [83]:
'%03d' % 1

'001'

In [84]:
'{0:03d}'.format(35)

'035'

In [85]:
'%08.2f' % 3.6

'00003.60'

In [86]:
'{0:08.2f}'.format(150.37)

'00150.37'

### 24.2.14 채우기와 정렬을 조합해서 사용하기

In [88]:
'{0:0<10}'.format(15)    # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [89]:
'{0:0>10}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [90]:
'{0:0>10.2f}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리

'0000015.00'

In [91]:
'{0: >10}'.format(15)    # 남는 공간을 공백으로 채움

'        15'

In [93]:
'{0:>10}'.format(15)     # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [94]:
'{0:x>10}'.format(15)    # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

### 24.4 연습문제: 파일 경로에서 파일명만 가져오기

다음 소스 코드를 완성하여 파일 경로에서 파일명만 출력되게 만드세요. 단, 경로에서 폴더의 깊이가 달라지더라도 파일명만 출력할 수 있어야 합니다.

practice_string_path.py

path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
                                      
...
                                      
 
print(filename)

실행 결과

python.exe

In [99]:
path = 'C:\Users\dojang\AppData\Local\Programs\Python\Python36-32\python.exe'
x = path.split('\\')
filename = x[-1]
print(filename)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-99-872fba3b7a46>, line 1)

### 24.5 심사문제: 특정 단어 개수 세기

표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

judge_string_count.py

________________
________________
________________
________________
________________
________________
________________


예

입력

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.

결과

6

In [102]:
x = input().split()

count = 0

for i in x:
    if (i.strip(',.') == 'the'):
        count += 1
print(count)

6

### 24.6 심사문제: 높은 가격순으로 출력하기

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

judge_string_alignment.py

________________
________________
________________
________________


예

입력

51900;83000;158000;367500;250000;59200;128500;1304000

결과

1,304,000

  367,500

  250,000

  158,000

  128,500

   83,000

   59,200
   
   51,900

In [105]:
x = list(map(int, input().split(';')))

x.sort(reverse=True)

for z in x:
    print('{: >9,}'. format(z))

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900