# Unit 26. 세트 사용하기

### 26.1 세트 만들기

In [3]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [4]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

### 26.1.1  세트에 특정 값이 있는지 확인하기

In [7]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
'orange' in fruits

True

In [8]:
'peach' in fruits

False

In [9]:
'peach' not in fruits

True

In [10]:
'orange' not in fruits

False

### 26.1.2  set를 사용하여 세트 만들기

In [12]:
a = set('apple')    # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [13]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [14]:
c = set()
c

set()

In [15]:
c = {}
type(c)

dict

In [16]:
c = set()
type(c)

set

### 26.2 집합 연산 사용하기

In [18]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [19]:
set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [20]:
a & b

{3, 4}

In [21]:
set.intersection(a, b)

{3, 4}

In [22]:
a - b

{1, 2}

In [23]:
set.difference(a, b)

{1, 2}

In [24]:
a ^ b

{1, 2, 5, 6}

In [25]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

### 26.2.1  집합 연산 후 할당 연산자 사용하기

In [27]:
a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [28]:
a = {1, 2, 3, 4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [29]:
 a = {1, 2, 3, 4}
 a &= {0, 1, 2, 3, 4}
 a

{1, 2, 3, 4}

In [30]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [31]:
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [32]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [33]:
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [34]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

### 26.2.2  부분 집합과 상위집합 확인하기

In [36]:
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [37]:
a.issubset({1, 2, 3, 4, 5})

True

In [38]:
a = {1, 2, 3, 4}
a < {1, 2, 3, 4, 5}

True

In [39]:
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [40]:
a.issuperset({1, 2, 3, 4})

True

In [41]:
a = {1, 2, 3, 4}
a > {1, 2, 3}

True

### 26.2.3  세트가 같은지 다른지 확인하기

In [43]:
a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

True

In [44]:
a == {4, 2, 1, 3}

True

In [45]:
a = {1, 2, 3, 4}
a != {1, 2, 3}

True

### 26.2.4  세트가 겹치지 않는지 확인하기

In [47]:
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})

True

In [48]:
a.isdisjoint({3, 4, 5, 6})

False

### 26.3 세트 조작하기

### 26.3.1  세트에 요소 추가하기

In [53]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

### 26.3.2  세트에서 특정 요소를 삭제하기

In [55]:
a.remove(3)
a

{1, 2, 4, 5}

In [56]:
a.discard(2)
a

{1, 4, 5}

In [57]:
a.discard(3)
a

{1, 4, 5}

### 26.3.3  세트에서 임의의 요소 삭제하기

In [59]:
a = {1, 2, 3, 4}
a.pop()

1

In [60]:
a

{2, 3, 4}

### 26.3.4  세트의 모든 요소를 삭제하기

In [62]:
a.clear()
a

set()

### 26.3.5  세트의 요소 개수 구하기

In [64]:
a = {1, 2, 3, 4}
len(a)

4

### 26.4 세트의 할당과 복사

In [66]:
a = {1, 2, 3, 4}
b = a

In [67]:
a is b

True

In [68]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [69]:
b

{1, 2, 3, 4, 5}

In [70]:
a = {1, 2, 3, 4}
b = a.copy()

In [71]:
a is b

False

In [72]:
a == b

True

In [73]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [74]:
b

{1, 2, 3, 4, 5}

### 26.5 반복문으로 세트의 요소를 모두 출력하기

for 변수 in 세트:

     반복할 코드

a = {1, 2, 3, 4}
for i in a:
print(i)

In [76]:
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

In [77]:
for i in {1, 2, 3, 4}:
    print(i)

1
2
3
4

### 26.6 세트 표현식 사용하기

In [79]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

### 26.6.1  세트 표현식에 if 조건문 사용하기

In [81]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

### 26.8 연습문제: 공배수 구하기


a = ①  

b = ②                                                 
 
print(a & b)

실행 결과

{75, 45, 15, 90, 60, 30}

In [86]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}
print(a & b)

{75, 45, 15, 90, 60, 30}

### 26.9 심사문제: 공약수 구하기

표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

________________
________________
________________
 
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

예

입력

10 20

결과

18

입력

100 200

결과

217

In [89]:
num1,num2=map(int,input().split())

a={i for i in range(1,num1+1) if num1%i==0}
b={i for i in range(1,num2+1) if num2%i==0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

18